{% extends "layout.html" %}
{% block content %}
    <div class="p-6 w-full text-center">
        <!-- Title -->
        <div class="text-center py-6">
            <h1 class="text-4xl font-bold">URL Shortener</h1>
            <p>Joshua Briant</p>
        </div>

        <h1 class="text-4xl font-bold text-red-500">{{ status_code }}</h1>
        <h2 class="text-xl font-semibold">Oops!</h2>
        <p class="py-6">{{ message }}</p>
        <a href="/" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-semibold py-3 px-6 rounded-md">
            Home
        </a>
    </div>
{% endblock content %}
