<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% if title %}
                URL Shortener - {{ title }}
            {% else %}
                URL Shortener
            {% endif %}
        </title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="flex items-center justify-center p-6">
        {% block content %}
        {% endblock content %}
    </body>
</html>